:root{
    --background: #FFFFFF;
    --gradient-red: #9D2E30;
    --backgroud-grey: #F4F4F4;
    --gradient-blue: #1D253F;
}

html, body {
  padding: 0;
  overflow-x: hidden;
  margin: 0 0.3rem;
  hyphens: auto;
}

/* Reset i ogólne */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile-menu .topbar {
  background-color: white;
  height: 2.8rem;
  width: calc(100% - 0.6rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem;
  border-bottom: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 0.5rem 12px;
  height: auto;
}

.mobile-menu .logo {
  height: 2rem;
  margin-left: 10px;
  display: block; 
  vertical-align: middle;
}

.mobile-menu .hamburger-icon img {
  height: 20px;
  margin-right: 12px;
  cursor: pointer;
}

/* DOMYŚLNIE menu ukryte */
.hamburger_menu {
  display: none;
  position: fixed;
  top: 50px;
  right: 0;
  width: 50%;
  margin-right: 0.7rem;
  background: rgba(255, 255, 255, 0.95);
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 0 0 2rem 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger_menu ul {
  list-style: none;
}

.hamburger_menu li:not(:last-child) {
  border-bottom: 0.3rem solid rgba(255, 255, 255, 0.4);
}

.hamburger_menu a {
  display: block;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.hamburger_menu a:hover {
  background-color: #f2f2f2;
}

.page-content {
  padding-top: 31px;
}


/* HERO SECTION */
.hero {
  padding: 3.6rem 0 1.5rem 0;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.hero-gradient {
  background: linear-gradient(90deg, #9D2E30 0%, #3d519d 100%);
  border-radius: 2rem;
  padding: 2rem 1.5rem;
  color: white;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hero-gradient h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0rem;
}

.hero-gradient #slogan {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.4;
}

.hero-bottom {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.hero-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-icon {
  font-size: 3rem;
  font-weight: 100;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

/* references (lewa strona) */
.references {
  flex: 1;
  display: flex;
  width:55%;
  flex-direction: column;
  gap: 1rem;
  height: min-content;
  font-family: 'Montserrat', sans-serif;
}

.references a {
  background: #f5f5f5;
  border-radius: 999px;
  padding: 0.2rem 0.8rem;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  line-height: 1; 
  height: 40px;
}
.references-icon {
  background: none;       
  background-color: transparent; 
  box-shadow: none;    
  vertical-align: middle;  
  height: 1.5rem;
  width: 1.5rem;
}

/* key words (prawa strona) */
.key_words {
  position: static !important;
  display: flex;
  width: 45%;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Montserrat', sans-serif;
}

.key_words p {
  font-size: 0.7rem;
  font-weight: 350;
  padding: 0.3rem 0.8rem;
  border-radius: 33px;
  line-height: 1;
  text-align: center;
  color: #333;
  border: 2px solid transparent;
  background-image: 
    linear-gradient(white, white),               
    linear-gradient(90deg, #9D2E30, #3d519d);    
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
}

.gallery {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0.5rem 0.3rem 1.5rem 0.3rem;
  display: flex;
  justify-content: center;
}

.gallery-track {
  display: flex;
  gap: 0.3rem;
  width: calc(200%); /* bo powielamy zdjęcia */
  animation: scrollGallery 30s linear infinite;
}

.gallery-track img {
  width: 20rem; 
  height: 15rem;
  object-fit: cover;
  border-radius: 33px;
}

@keyframes scrollGallery {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*Offer section*/
.offer {
  border-radius: 33px;
  font-family: 'Montserrat', sans-serif;
  color: #1A1A1A;
  margin-bottom: 1.5rem; 
}

.offer h2 {
  background: linear-gradient(90deg, #9D2E30, #3d519d);
  padding: 0.2rem 1rem;
  width: 100%;
  border-radius: 33px;
  text-align: left;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.offer #description {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  color: #4A4A4A;
}

.offer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.offer-photo {
  display: none;
}

/* Accordion */
.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.6rem;
}

.accordion-item {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordion-header {
  width: 100%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  font-size: 0.95rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

/* Arrow icon (symbolizowane przez CSS, możesz też użyć SVG) */
.accordion-header::after {
  content: "+";
  font-size: 1.2rem;
  color: #7B1E1E;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.accordion-item.active .accordion-header::after {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  font-size: 0.85rem;
  color: #333;
  transition: max-height 0.3s ease;
  background: rgba(125, 152, 182, 0.2);
  text-align: justify;
}

.accordion-content p {
  padding-top: 1rem;
}

.accordion-item.active .accordion-content {
  max-height: 400px; /* dopasuj do treści */
  padding-bottom: 1rem;
}

/* CTA */
.cta {
  text-align: center;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.cta p {
  display: inline-block;
  background: 
    linear-gradient(#fff, #fff) padding-box, /* środek */
    linear-gradient(90deg, #9D2E30, #3d519d) border-box; /* obramowanie */
  border: 0.2rem solid transparent; 
  color: #333;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  font-weight: 500;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

/*Methods*/
h3 {
  background: linear-gradient(90deg, #9D2E30, #3d519d);
  padding: 0.2rem 1rem;
  width: 100%;
  border-radius: 33px;
  text-align: left;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.methods-columns {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.methods-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 0;
}

.methods-hover {
  display: content;
}

.methods-item {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  height: 180px;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
}

.methods-hidden,
.methods-open {
  padding: 1rem;
  transition: opacity 0.3s ease;
}


.methods-hidden {
  z-index: 1;
  background: white;
  opacity: 1;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.methods-open {
  opacity: 0;
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  font-size: 14px;
  padding: 0.5rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.methods-item:hover .methods-open {
  opacity: 1;
}

.methods-item:hover .methods-hidden {
  opacity: 0;
}

.m-icon {
  width:45px;
  height:45px;
  margin-bottom: 0.5rem;
}

.m-call {
  margin: 1.5rem 0.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.m-call {
  margin: 1.5rem 0.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.call-us {
  font-size: 1.5rem;
}

.contact-us {
  font-family: 'Montserrat', sans-serif;
  margin: 3rem 0 1.5rem 0;;
}

.end-gradient {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, #9D2E30 0%, #3d519d 100%);
  border-radius: 2rem;
  padding: 2rem 1.5rem;
  color: white;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.summary-gradient {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, #9D2E30 0%, #3d519d 100%);
  border-radius: 2rem;
  padding: 2rem 1.5rem;
  width: 90%;
  margin: 2rem auto;
  color: white;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#bold {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 1rem;
}

#regular {
  font-size: 16px;
  font-weight: 300;  
}

.cta-icon {
  width: 2.3rem;
  height: 2.3rem;
  vertical-align: middle;
  margin: 0.5rem;
}

/*Footer*/
footer {
  padding: 1rem;
  margin: 0;
  background-color: white;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  clear: both;         
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem;
}

.footer-logo {
  width: 100px;
  height: auto;
}

.social-icons {
  display: flex;
  gap: 1rem; /* odstęp między ikonami */
  align-items: center;
}

.social-icons img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 0.8;
}

.social-icons img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 0 1.5rem;
}

.footer-left p,
.footer-right ul {
  margin: 0.5rem 0;
}

.footer-right ul {
  list-style: none;  
  text-align: left;
  gap: 0;
}

.footer-right ul li {
  position: relative;
  padding: 0 1rem; /* odstęp od separatora */
}

.footer-right ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 60%; /* długość separatora */
    background: linear-gradient(180deg, #9D2E30 0%, #3d519d 100%);
  }

.footer-right ul li a {
  text-decoration: none;
  color: #333;   
  display: block;
}

.footer-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 0.5rem 0;
  align-items: center;
}

.footer-text p {
  margin: 0;
  line-height: 1.4;
}

.footer-left p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-icon {
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
}

.legal {
  text-align: center;
  font-size: 12px;
  margin-top: 1.5rem;
  color: #666;
}

/*ABOUT*/
.about-gradient {
  background: linear-gradient(90deg, #9D2E30 0%, #3d519d 100%);
  border-radius: 1.5rem;
  padding: 0.2rem 1rem;
  color: white;
  text-align: left;
  margin: 3.6rem 0.3rem 0 0.3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-gradient h1 {
  font-size: 1.7rem;
  font-weight: 200;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.about-container {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.about-container p {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  width: 90%;
}

.about-container .photo {
  width: 90%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

/*CERTIFICATE*/
.certificates-gradient {
  background: linear-gradient(90deg, #9D2E30 0%, #3d519d 100%);
  border-radius: 1.5rem;
  padding: 0.2rem 1rem;
  color: white;
  text-align: left;
  margin: 3.6rem 0.3rem 0 0.3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.certificates-gradient h1 {
  font-size: 1.7rem;
  font-weight: 200;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.certificate-content {
  padding: 0 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.certificate-content h2 {
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
  color: #1d253f;
}

.certificate-content p {
  margin-bottom: 1rem;
  text-align: justify;
}

.certificate-slogan h3 {
  background: linear-gradient(90deg, #9D2E30 0%, #3d519d 100%);
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  color: white;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.certificate-img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 1.5rem;
  border: 2px solid #ccc; 
  border-radius: 0.5rem; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
}

/*REALIZACJE*/
.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.r-main {
  flex: 1;
}

.realisations-gradient {
  background: linear-gradient(90deg, #9D2E30 0%, #3d519d 100%);
  border-radius: 1.5rem;
  padding: 0.2rem 1rem;
  color: white;
  text-align: left;
  margin: 3.6rem 0.3rem 0 0.3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.realisations-gradient h1 {
  font-size: 1.7rem;
  font-weight: 200;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin: 4rem auto;
  max-width: 95%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.carousel {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
  overflow-x: scroll;
  scroll-behavior: auto;
  max-width: 100%;
}

.carousel-item {
  min-width: 160px;
  width: 300px;
  height: auto;
  flex-shrink: 0;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.project-detail {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  text-align: left;
  align-items: flex-start;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  position: relative;

  border: 2px solid transparent;
  background-clip: padding-box;
}

.project-detail::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  border-radius: 1rem;
  background: linear-gradient(90deg, #9D2E30 0%, #3d519d 100%);
}

/* Tytuł */
.project-detail .project-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #222;
}

/* Linia z miejscem i datą */
.project-detail .detail-line {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1.5rem;
  gap: 0.75rem;
}

.project-detail .location {
  font-weight: 500;
}

.project-detail .separator {
  height: 1rem;
  width: 1px;
  background-color: #999;
}

.project-detail .date {
  font-weight: 400;
  color: #777;
}

/* Treść opisu */
.project-detail .desc {
  line-height: 1.6;
  font-size: 1rem;
  color: #111;
  white-space: pre-line;
}

/* Przycisk zamykania (X) */
.project-detail button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #000;
}

.project-detail button.close-button:hover {
  color: #9D2E30;
}

/* Po aktywacji */
.carousel-container.active .carousel {
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.carousel-container.active .project-detail {
  display: flex;
}

.carousel-container.active .carousel-item.active {
  transform: scale(1.05);
  display: block;
  height: auto;
  width: 300px;
}

.carousel {
  scrollbar-width: none; /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


/*KONTAKT*/
.contact-gradient {
  background: linear-gradient(90deg, #9D2E30 0%, #3d519d 100%);
  border-radius: 1.5rem;
  padding: 0.2rem 1rem;
  color: white;
  text-align: left;
  margin: 3.6rem 0.3rem 0 0.3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-gradient h1 {
  font-size: 1.7rem;
  font-weight: 200;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.contact-photo {
  display: none;
}

.contact-separator {
  display: none;
}

.info-column {
  display: none;
}

.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 3rem 4rem;
}

.container-contact form {
  width: 100%;
  max-width: 500px;
  background-color: #f8f8f8;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
}

.container-contact form p {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: #333;
  font-weight: 500;
}

.container-contact input,
.container-contact textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #eeeeee;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.container-contact textarea {
  resize: vertical;
}

.container-contact button {
  display: block;
  margin: 1rem auto 0;
  padding: 0.75rem 2rem;
  background-color: #9D2E30;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s ease;
}

.container-contact button:hover {
  background-color: #7a2223;
}


/* Desktop – do 768px */
@media (max-width:768px) {
  .desktop-menu {
    display: none;
  }

  .nowrap {
  white-space: nowrap;
  }

  .hero-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    vertical-align: middle;
  }

  .methods-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .methods-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
  }
}


@media (min-width: 769px) and (max-width:1279px) {
  .topbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 1rem 2rem;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .hamburger-icon {
    display: none;
  }

  .desktop-menu {
    display: flex;
    justify-content: center;
    justify-self: center !important;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;    
    background: #f1f1f1;  
    transition: background 0.3s ease;    
    border-radius: 2rem;
    width: auto;
  }

  .nav-links li a {
    text-decoration: none;
    padding: 0.4rem 1rem;
    color: #000;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif; 
  }

  .nav-links li a:hover {
    background: #9D2E30;
    border-radius: 33px;
    color: #ccc;
  }

  .nav-links li a:active {
    background: #9D2E30;
    border-radius: 33px;
    color: #ccc;
  }

  .nav-icons {
    display: flex;
    gap: 1rem;
    padding: 0.2rem;
    margin-left: 4rem;
  }

  .nav-icon {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }

  .nav-icon:hover {
    filter: grayscale(0%);
  }

  /*HERO*/
  .hero {
    padding: 3.5rem 0 1.5rem 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
  }

  .hero-gradient {    
    position: relative !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(90deg, #9D2E30 0%, #3d519d 100%);
    border-radius: 2rem;
    padding: 2rem 1.5rem;
    padding-right: 12rem;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    min-height: 200px;
    white-space: normal;
  }

  .hero-row {
    flex: 1;
    display: flex;
    align-items:flex-start;
    gap: 0.8rem;
    position: relative;
    width: 80%;   
  }

  .hero-gradient h1 {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 0rem;
  }

  #slogan {
    font-size: 2rem !important;
    font-weight: 200;
    margin: 0;    
    white-space: normal;
    position: relative;

  }

  .hero-icon {
    width: 3rem;
    height: 3rem;
    align-self: flex-end;
    position: absolute;
    margin-left: 1rem;
  }

  .key_words {
    position: absolute !important;
    top: 6.5rem;
    right: 2rem;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: flex-end;
    max-width: 40%;
  }

  .key_words p {
    font-size: 0.8rem;
    font-weight: 200;
    padding: 0.3rem 0.8rem;
    border-radius: 33px;
    line-height: 1;
    text-align: center;
    color: white;
    border: 1px solid white;
    background: none;
  }

  /* references (lewa strona) */
  .references {
    flex-direction: row;
    width: 100%;
  }

  .references a {
     background: #f5f5f5;
    border-radius: 999px;
    padding: 0.4rem 1.6rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); 
    height: 4rem;

    display: flex;   
    align-items: center;
    gap: 0.8rem;
    flex-grow: 1;        
    max-width: 100%;        
    box-sizing: border-box;  
  }

  .references-icon {
    background: none;       
    background-color: transparent; 
    box-shadow: none;    
    vertical-align: middle;  
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
  }

  /*OFERTA*/
  .offer-content {
    flex-direction: row;
    align-items: flex-start;
    align-items: stretch;
  }

  .offer-photo {
    flex: 0 0 40%;
    display: block;
  }

  .offer-photo img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }

  .left-column {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .accordion {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /*METODY*/
  .methods-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem 0;
  }

  .methods-column {
    display: contents; /* pozwala ignorować ten element jako warstwę strukturalną */
  }

  .m-call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*KOŃCOWY CTA*/
  .text {
    display: flex;
    align-items: center;
    margin-top: 1rem;  
    gap: 0.5rem;
    width: 90%;
  }


  /*KONTAKT*/
  .contact-photo {
    display: none;
  }

  .contact-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 2rem;
    align-items: stretch;
  }

  .contact-photo {
    display: none;
  }

  .container-contact {
    width: 48%;
    padding: 2rem;
  }

  .info-column {
    display: block;
    margin-top: 3rem;
    align-items: center;
    width: 48%;
    font-family: 'Montserrat', sans-serif;
  }

  .contact-separator {
    display: block;
    width: 2px;
    height: 35rem;
    margin-top: 4rem;
    background: linear-gradient(90deg, #9D2E30 0%, #3d519d 100%);
  }

  .info-column iframe {
    width: 90%;
    height: 300px;
    border: none;
    margin-right: 5rem;
    align-self: center;
  }

  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    align-self: center;
  }

  .contact-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
  }

  .contact-text p {
    margin: 0;
  }

}

@media (min-width: 1280px) {
  .topbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 1rem 2rem;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .hamburger-icon {
    display: none;
  }

  .desktop-menu {
    display: flex;
    justify-content: center;
    justify-self: center !important;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    margin: 0 25rem;
    padding: 0;    
    background: #f1f1f1;  
    transition: background 0.3s ease;    
    border-radius: 2rem;
    width: auto;
  }

  .nav-links li a {
    text-decoration: none;
    padding: 0.4rem 1rem;
    color: #000;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif; 
  }

  .nav-links li a:hover {
    background: #9D2E30;
    border-radius: 33px;
    color: #ccc;
  }

  .nav-links li a:active {
    background: #9D2E30;
    border-radius: 33px;
    color: #ccc;
  }

  .nav-icons {
    display: flex;
    gap: 1rem;
    padding: 0.2rem;
  }

  .nav-icon {
    width: 25px;
    height: 25px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }

  .nav-icon:hover {
    filter: grayscale(0%);
  }

  /*HERO*/
  .hero {
    padding: 4rem 0 1.5rem 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
  }

  .hero-gradient {    
    position: relative !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(90deg, #9D2E30 0%, #3d519d 100%);
    border-radius: 2rem;
    padding: 2rem 1.5rem;
    padding-right: 12rem;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    min-height: 200px;
    white-space: normal;
  }

  .hero-row {
    flex: 1;
    display: flex;
    align-items:flex-start;
    gap: 0.8rem;
    position: relative;
    width: 80%;   
  }

  .hero-gradient h1 {
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 0rem;
  }

  #slogan {
    font-size: 3rem !important;
    font-weight: 200;
    margin: 0;    
    white-space: normal;
    position: relative;

  }

  .hero-icon {
    width: 3rem;
    height: 3rem;
    align-self: flex-end;
    position: absolute;
    margin-left: 1rem;
  }

  .key_words {
    position: absolute !important;
    top: 6.5rem;
    right: 2rem;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: flex-end;
    max-width: 40%;
  }

  .key_words p {
    font-size: 1rem;
    font-weight: 200;
    padding: 0.3rem 0.8rem;
    border-radius: 33px;
    line-height: 1;
    text-align: center;
    color: white;
    border: 1px solid white;
    background: none;
  }

  /* references (lewa strona) */
  .references {
    flex-direction: row;
    width: 100%;
    
  }

  .references a {
     background: #f5f5f5;
    border-radius: 999px;
    padding: 0.4rem 1.6rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    height: 4rem;

    display: flex;   
    align-items: center;
    gap: 0.8rem;
    flex-grow: 1;        
    max-width: 100%;        
    box-sizing: border-box;  
  }

  .references-icon {
    background: none;       
    background-color: transparent; 
    box-shadow: none;    
    vertical-align: middle;  
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
  }

  
  /*OFERTA*/
  .offer-content {
    flex-direction: row;
    align-items: flex-start;
    align-items: stretch;
  }

  .offer-photo {
    flex: 0 0 50%;
    display: block;
  }

  .offer-photo img {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    object-fit: cover;
    align-content: left;
  }

  .left-column {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .accordion {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /*METODY*/
  .methods-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem 0;
  }

  .methods-column {
    display: contents; /* pozwala ignorować ten element jako warstwę strukturalną */
  }

  .m-call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*KOŃCOWY CTA*/
  .text {
    display: flex;
    align-items: center;
    margin-top: 1rem;  
    gap: 0.5rem;
    width: 90%;
  }

  /*FOOTER*/
  .footer-right {
    display: none;
  }

  .footer-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
  }

  .social-icons {
    display: none;
  }

  .social-icons-desktop {
    display: flex;
    align-items: flex-end;
  }

  .footer-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
  }

/*O NAS*/
   .about-container {
    display: none;
  }

  .about-gradient {
    margin-top: 4rem;
  }

  .about-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 4rem 2rem;
    align-items: start;
    padding: 4rem 6rem;
    font-family: 'Montserrat', sans-serif;
  }

  /* PIERWSZY OBRAZEK - LEWA STRONA */
  .about-desktop img.photo-about {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: auto;
    border-radius: 33px;
  }

  /* PIERWSZY BLOK TEKSTU - PRAWA STRONA */
  .about-desktop p:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1;
    display: block;
    font-size: 1.3rem;
    text-align: justify;
  }

  /* DRUGI BLOK TEKSTU - LEWA STRONA */
  .about-desktop p:nth-of-type(2) {
    grid-column: 1;
    grid-row: 2;
    display: block;
    font-size: 1.3rem;
    text-align: justify;
  }

  /* DRUGI OBRAZEK - PRAWA STRONA */
  .about-desktop img.photo {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: auto;
    border-radius: 33px;
  }

  /* Estetyka – marginesy między akapitami */
  .about-desktop p {
    margin-bottom: 1rem;
  }

  /*CERTYFIKATY*/

  .certificate-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 6rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  flex-wrap: wrap;
}

.certificate-left {
  flex: 1;
  min-width: 250px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.certificate-img {
  width: 100%;
  height: auto;
  margin-right: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.certificate-right {
  flex: 2;
  min-width: 300px;
  font-family: 'Montserrat', sans-serif;
}

.certificate-right h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.certificate-right p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  color: #333;
  text-align: justify;
}

/*REALIZACJE*/
.carousel-container {
  position: relative;
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
      flex-direction: row;
    align-items: flex-start;
}

.carousel {
  display: flex;
  gap: 1rem;
  scroll-behavior: smooth;
  padding-bottom: 1rem; 
  flex: 0 0 60%;
  }

.carousel-item {
  flex: 0 0 auto;
  width: 300px;
  cursor: pointer;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.carousel-item img {
  width: 100%;
  display: block;
}

.carousel-item:hover {
  transform: scale(1.03);
}

/* Opis projektu */
.project-detail {
  display: none;
  margin-top: 2rem;
  background: #f7f7f7;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  animation: fadeIn 0.3s ease-in-out;
  position: relative;
      margin: 0;
    flex: 0 0 38%;
    max-height: 100%;
}

.project-title {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
  color: #333;
}

.detail-line {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

.separator {
  width: 5px;
  height: 5px;
  background: #666;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.desc {
  font-size: 1rem;
  color: #444;
}

/* Zamknięcie opisu */
.project-detail button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
}

.project-detail button:hover {
  color: #333;
}

/* Animacja */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}


    /*KONTAKT*/
  .contact-photo {
    width: 30%;
  }

  .contact-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 2rem;
    align-items: stretch;
  }

  .contact-photo {
    display: none;
  }

  .container-contact {
    width: 48%;
    padding: 2rem;
  }

  .info-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* jeśli chcesz wyrównać też tekst */
    width: 48%;
    margin-top: 5rem;
    margin-left: 3rem;
    font-family: 'Montserrat', sans-serif;
  }

  .contact-separator {
    display: block;
    width: 2px;
    height: 33rem;
    margin-top: 4rem;
    background: linear-gradient(90deg, #9D2E30 0%, #3d519d 100%);
  }

  .info-column iframe {
    width: 80%;
    height: 300px;
    border: none;
    margin: 0 auto;
    display: block;
  }

  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    align-self: center;
    justify-content: center;
  }

  .contact-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
  }

  .contact-text p {
    margin: 0;
  }

}